@import "tailwindcss";

:root {
  --background: #06141F; /* Azul escuro como fundo padrão */
  --foreground: #ededed; /* Texto claro para contraste */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Remove a regra de dark mode para manter o fundo azul escuro em ambos os temas */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
