@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #06141F 60%, #1C3B4F 100%); 
  --foreground: #ededed; 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
